.card{
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /*padding: 24px;
    border: 2px solid;
    border-radius: 16px;
    background: #d0d5ed;*/
    body{
        flex-direction: column;
    }
}

.a:link, a:hover, a:active, a:visited{
    color:white
}
