.card{
    display: flex;
    flex-direction: column;
    gap: 18px;
    padding: 24px;
    border: 2px solid;
    border-radius: 16px;
    background: #d0d5ed;
    body{
        flex-direction: column;
    }
}
